body {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url("../images/header_man_photo.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
