/*
font-family: 'Montserrat', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Cambay', sans-serif;
font-family: 'Coustard', serif;
font-family: 'Work Sans', sans-serif;
*/
.font-leckerli-one {
    font-family: 'Leckerli One', cursive;
}

.font-cabmay {
    font-family: 'Cambay', sans-serif;
}

.font-coustard {
    font-family: 'Coustard', serif;
}

.font-worksans {
    font-family: 'Work Sans', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    background-image: url("../images/header_man_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: #000000;
}

.btn-buy {
    border-radius: 20px;
    border: 2px solid #ffff00;
    box-shadow: 0 10px 30px rgba(255, 255, 0, 0.2);
    /* Style for "Buy it Now" */
    color: #ffff00;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.albedo {
    /* Style for "albedo" */
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -2.88px;
    padding-left: 10px;
}

.text-nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.greeting p:first-child {
    font-size: 36px;
    font-weight: 400;
}

.greeting h1 {
    font-family: "Montserrat - Extra Bold", sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.greeting h1 span {
    color: #0081ff;
}

.latin-text {
    color: #636363;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.btn-about-me {
    box-shadow: 0 10px 30px rgba(146, 146, 146, 0.3);
    border-radius: 30px;
    background-color: #2b2b2b;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
}

/**/


.about {
    background-color: #0081ff;
    color: #ffffff;
}

.services {
    background-color: rgba(0, 0, 0, 0.05);
}


/**/

.portfolio .item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio .item > div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.portfolio .item:hover > div {
    opacity: 1;
    transition: all 300ms linear;
}

.portfolio .item > div i {
    color: #8799a3;
    cursor: pointer;
}

.portfolio .item > div i:hover {
    color: #ffffff;

}

.portfolio .row > div:first-child .item {
    min-width: 320px;
    min-height: 300px;
}

.portfolio .row > div:last-child {
    /* max-height: 50vw;*/
}

.portfolio .row > div:last-child .item {
    min-width: 250px;
    min-height: 320px;
}

.portfolio .row > div:last-child .item:last-child {
    height: 100%;
}

.project-01 {
    background-image: url("../images/project-01.jpg");
}

.project-02 {
    background-image: url("../images/project-02.jpg");
}

.project-03 {
    background-image: url("../images/project03.jpg");
}

.project-04 {
    background-image: url("../images/project-04.jpg");
}

.project-05 {
    background-image: url("../images/project-05.jpg");
}

.project-06 {
    background-image: url("../images/project-06.jpg");
}


/**/
.clients {
    background-image: url("../images/background-customers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    background-color: #000000;
}

.customer {
    width: 300px;
}

